/** @format */

.footer {
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #fff;
  background-color: $text-color;
  .footer_content {
    max-width: $wrap-width;
    margin: 0 auto;
    padding: 50px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
    }
    .footer_logo {
      padding: 5px;
      font-weight: 700;
      font-size: 34px;
    }
    .footer_links {
      padding: 5px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      h4 {
        font-weight: 500;
        font-size: 18px;
        display: inline-block;
        margin: 0;
        &::after {
          content: '';
          display: block;
          margin: 4px 0 20px 0;
          height: 2px;
          width: 100%;
          background-color: #fff;
        }
      }
      .footer_links_wrap {
        display: flex;
        flex-direction: column;
        @media (max-width: 767px) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        a {
          font-weight: 400;
          font-size: 14px;
          color: #fff;
          margin: 10px 5px;
          @include link;
        }
      }
    }
    .footer_subscribe {
      max-width: 400px;
      padding: 5px;
      p {
        display: block;
        margin: 0 0 15px 0;
        font-size: 18px;
        line-height: 26px;
        max-width: 90%;
      }
      form {
        width: 100%;
        input {
          margin: 5px;
          width: 60%;
          height: 50px;
          border: none;
          background-clip: padding-box;
          font-family: inherit;
          background: #ffffff;
          border-radius: 3px;
          vertical-align: middle;
          cursor: pointer;
        }
        button {
          margin: 5px;
          width: 30%;
          height: 50px;
          background: #ffffff;
          border-radius: 3px;
          font-weight: 700;
          font-size: 16px;
          color: $text-color;
          border: none;
          background-clip: padding-box;
          vertical-align: middle;
          cursor: pointer;
          @include link;
        }
      }
    }
  }
}
footer {
  width: 100%;
  background-color: $text-color;
  color: #fff;
  .footer_wrapper {
    max-width: $wrap-width;
    margin: 0 auto;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyright {
      font-weight: 700;
      font-size: 10px;
    }
    a {
      display: inline-block;
      widows: 20px;
      height: 20px;
      margin: 0 10px;
      @include link;
    }
  }
}
