.help {
    width: 100%;
    height: 100%;
    background: url('../img/bg1-lines.svg') no-repeat 100% 0,
      url('../img/bg2-lines.svg') no-repeat 0 100%,
      url('../img/bg1-dotted.svg') no-repeat 80% 10%,
      url('../img/bg1-dotted.svg') no-repeat 15% 50%,
      url('../img/bg1-dotted.svg') no-repeat 80% 90%;
    background-size: unset;
    .help_wrapper {
      max-width: $base-width;
      margin: 0 auto;
      padding: 150px 0;
      position: relative;
  
      h2 {
        position: absolute;
        top: 150px;
        z-index: -1;
        max-width: 395px;
        font-weight: 500;
        font-size: 36px;
        color: #260041;
      }
      .help_cards {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
        max-width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4, auto);
        & .help__card:nth-child(1) {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 2;
          grid-column-end: 3;
          img {
            margin: -40px 0 50px 0;
          }
        }
        & .help__card:nth-child(2) {
          grid-row-start: 2;
          grid-row-end: 4;
          grid-column-start: 1;
          grid-column-end: 2;
        }
        & .help__card:nth-child(3) {
          grid-row-start: 3;
          grid-row-end: 5;
          grid-column-start: 2;
          grid-column-end: 3;
        }
        .help__card {
          margin: 50px;
          padding: 5px 50px;
          max-width: 385px;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
          box-shadow: 5px 20px 50px #4a99d333;
          border-radius: 10px;
          background-color: #fff;
          img {
            align-self: center;
            margin: 50px 0;
          }
          h4 {
            margin: 0;
            font-size: 20px;
            font-weight: 500;
            color: $text-color2;
          }
          p {
            margin: 16px 0;
            display: block;
            line-height: 26px;
            max-width: 285px;
            opacity: 0.5;
          }
          a {
            display: inline-block;
            margin: 50px 0;
            font-size: 14px;
            color: $text-color;
            vertical-align: middle;
            @include link;
          }
          & a::after {
            content: '';
            display: inline-block;
            margin-left: 1em;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            background: url('../img/arrow-right.svg') no-repeat center / contain;
          }
        }
      }
    }
  }