/** @format */
@e @font-face {
  font-family: "Objective";
  src: url("../fonts/Objective-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objective";
  src: url("../fonts/Objective-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Objective";
  src: url("../fonts/Objective-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/** @format */
.header {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, #fff 0%, #bcd9ef 100%);
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.2588235294);
}
.header .header_wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.header .header_wrapper header {
  padding: 45px 10px 0 10px;
  max-width: 950px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header .header_wrapper header .logo {
  font-weight: 700;
  font-size: 40px;
  color: #4a99d3;
}
@media (max-width: 767px) {
  .header .header_wrapper header .logo {
    font-size: 30px;
  }
}
.header .header_wrapper header .header_links {
  display: flex;
  padding-right: 40px;
}
@media (max-width: 767px) {
  .header .header_wrapper header .header_links {
    padding: 0;
  }
}
.header .header_wrapper header .header_links a {
  display: block;
  margin-right: 40px;
  font-size: 18px;
  color: #0f001a;
  text-decoration: none;
  transition: all 0.5s;
}
.header .header_wrapper header .header_links a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
@media (max-width: 767px) {
  .header .header_wrapper header .header_links a {
    margin: 5px;
    font-size: 16px;
  }
}
.header .header_mockup {
  max-width: 1100px;
  margin: 0 auto;
  padding: 75px 10px;
  color: #260041;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .header_mockup {
    padding: 35px 10px;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .header .header_mockup {
    padding: 10px;
  }
}
.header .header_mockup .header_mockup_text {
  max-width: 60%;
}
@media (max-width: 767px) {
  .header .header_mockup .header_mockup_text {
    max-width: 100%;
  }
}
.header .header_mockup .header_mockup_text h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.5em;
  padding-right: 40px;
  max-width: 500px;
}
@media (max-width: 991px) {
  .header .header_mockup .header_mockup_text h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .header .header_mockup .header_mockup_text h1 {
    font-size: 30px;
  }
}
.header .header_mockup .header_mockup_text p {
  font-size: 20px;
  line-height: 1.5em;
}
@media (max-width: 991px) {
  .header .header_mockup .header_mockup_text p {
    font-size: 16px;
  }
}
.header .header_mockup .header_mockup_text .header_mockup__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.header .header_mockup .header_mockup_text .header_mockup__buttons a {
  display: block;
  max-width: 180px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s;
}
.header .header_mockup .header_mockup_text .header_mockup__buttons a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.header .header_mockup .header_mockup_text .header_mockup__buttons a img {
  max-width: 100%;
  max-height: 100vw;
}
.header .header_mockup .header_mockup_image {
  max-width: 40%;
}
.header .header_mockup .header_mockup_image img {
  width: 100%;
}

/** @format */
.help {
  width: 100%;
  height: 100%;
  background: url("../img/bg1-lines.svg") no-repeat 100% 0, url("../img/bg2-lines.svg") no-repeat 0 100%, url("../img/bg1-dotted.svg") no-repeat 80% 10%, url("../img/bg1-dotted.svg") no-repeat 15% 50%, url("../img/bg1-dotted.svg") no-repeat 80% 90%;
  background-size: unset;
}
.help .help_wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 150px 10px;
  position: relative;
}
@media (max-width: 767px) {
  .help .help_wrapper {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.help .help_wrapper h2 {
  position: absolute;
  top: 150px;
  z-index: -1;
  max-width: 45%;
  font-weight: 500;
  font-size: 36px;
  color: #260041;
}
@media (max-width: 767px) {
  .help .help_wrapper h2 {
    max-width: 75%;
    font-size: 30px;
    position: unset;
  }
}
.help .help_wrapper .help_cards {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
}
@media (max-width: 767px) {
  .help .help_wrapper .help_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.help .help_wrapper .help_cards .help__card:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.help .help_wrapper .help_cards .help__card:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}
.help .help_wrapper .help_cards .help__card:nth-child(3) {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
.help .help_wrapper .help_cards .help__card {
  margin: 50px;
  padding: 5px 50px;
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .help .help_wrapper .help_cards .help__card {
    margin: 30px;
    padding: 5px 30px;
  }
}
@media (max-width: 767px) {
  .help .help_wrapper .help_cards .help__card {
    margin: 5px 0;
  }
}
@media (max-width: 480px) {
  .help .help_wrapper .help_cards .help__card {
    padding: 5px;
  }
}
.help .help_wrapper .help_cards .help__card img {
  align-self: center;
  margin: 50px 0;
  max-width: 100%;
}
@media (max-width: 767px) {
  .help .help_wrapper .help_cards .help__card img {
    margin: 30px 0;
    max-width: 75%;
  }
}
@media (max-width: 480px) {
  .help .help_wrapper .help_cards .help__card img {
    margin: 5px 0;
    max-width: 50%;
  }
}
.help .help_wrapper .help_cards .help__card h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #0f001a;
}
.help .help_wrapper .help_cards .help__card p {
  margin: 16px 0;
  font-size: 16px;
  display: block;
  line-height: 1.5em;
  max-width: 285px;
  opacity: 0.5;
}
@media (max-width: 480px) {
  .help .help_wrapper .help_cards .help__card p {
    margin: 5px 0;
  }
}
.help .help_wrapper .help_cards .help__card a {
  display: inline-block;
  margin: 50px 0;
  font-size: 14px;
  color: #4a99d3;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.5s;
}
.help .help_wrapper .help_cards .help__card a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
@media (max-width: 767px) {
  .help .help_wrapper .help_cards .help__card a {
    margin: 30px 0;
  }
}
@media (max-width: 480px) {
  .help .help_wrapper .help_cards .help__card a {
    margin: 10px 0;
  }
}
.help .help_wrapper .help_cards .help__card a::after {
  content: "";
  display: inline-block;
  margin-left: 1em;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: url("../img/arrow-right.svg") no-repeat center/contain;
}

/** @format */
.works {
  width: 100%;
  background: rgba(74, 153, 211, 0.1019607843);
}
.works .works_wrapper {
  max-width: 950px;
  margin: 0 auto;
  padding: 95px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .works .works_wrapper {
    padding: 40px 10px;
  }
}
@media (max-width: 480px) {
  .works .works_wrapper {
    padding: 20px 10px;
  }
}
.works .works_wrapper h3 {
  margin: 0 0 65px 0;
  font-weight: 700;
  font-size: 26px;
  color: #4a99d3;
}
@media (max-width: 767px) {
  .works .works_wrapper h3 {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 480px) {
  .works .works_wrapper h3 {
    margin: 20px 0;
  }
}
.works .works_wrapper .works_cards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 480px) {
  .works .works_wrapper .works_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.works .works_wrapper .works_cards .works__card {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  .works .works_wrapper .works_cards .works__card {
    max-width: 75%;
  }
}
.works .works_wrapper .works_cards .works__card img {
  margin: 25px;
}
.works .works_wrapper .works_cards .works__card h4 {
  margin: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #0f001a;
}
.works .works_wrapper .works_cards .works__card p {
  margin: 5px;
  font-size: 16px;
  text-align: center;
}

/** @format */
.reviews {
  margin: 150px 0 0 0;
  background: url("../img/bg1-dotted.svg") no-repeat 102% 50%;
}
@media (max-width: 767px) {
  .reviews {
    margin: 80px 0 0 0;
  }
}
@media (max-width: 480px) {
  .reviews {
    margin: 20px 0 0 0;
  }
}
.reviews h3 {
  font-weight: 700;
  font-size: 26px;
  text-align: center;
}
.reviews .reviews_content {
  max-width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
@media (max-width: 991px) {
  .reviews .reviews_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.reviews .reviews_content .reviews_content_image {
  width: 50%;
  position: relative;
}
@media (max-width: 991px) {
  .reviews .reviews_content .reviews_content_image {
    width: 100%;
  }
}
.reviews .reviews_content .reviews_content_image img {
  display: block;
  max-width: 70%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .reviews .reviews_content .reviews_content_image img {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .reviews .reviews_content .reviews_content_image img {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .reviews .reviews_content .reviews_content_image img {
    width: 50%;
  }
}
.reviews .reviews_content .reviews_content_image::after {
  content: "";
  display: block;
  width: 100%;
  height: 70%;
  position: absolute;
  border-radius: 0px 6px 6px 0px;
  bottom: 0;
  background-color: rgba(74, 153, 211, 0.1019607843);
  z-index: -1;
}
.reviews .reviews_content .reviews_content_review {
  align-self: flex-end;
  margin: 0 0 -50px 0;
  width: 50%;
  max-height: 100%;
}
@media (max-width: 991px) {
  .reviews .reviews_content .reviews_content_review {
    width: 90%;
    align-self: center;
  }
}
.reviews .reviews_content .reviews_content_review .wrapper_slider {
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  position: relative;
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides {
  position: absolute;
  inset: 0;
  width: 300%;
  height: 100%;
  display: flex;
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides div {
  width: 33.333%;
  height: 74%;
  transition: all 2s ease;
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides div img {
  margin: 20px;
  max-width: 50px;
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides div p {
  margin: 20px;
  padding: 0 50px 0 0;
  font-size: 16px;
  line-height: 1.5em;
  color: #0f001a;
}
@media (max-width: 480px) {
  .reviews .reviews_content .reviews_content_review .wrapper_slider .slides div p {
    padding: 0;
  }
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides div h4 {
  margin: 20px;
  font-weight: 500;
  font-size: 18px;
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides .nav {
  max-width: 160px;
  max-height: 80px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  top: 73%;
  left: 28.9%;
  transform: translateX(-100%);
  box-shadow: 0px 4px 16px rgba(74, 153, 211, 0.2);
  border-radius: 4px;
}
@media (max-width: 480px) {
  .reviews .reviews_content .reviews_content_review .wrapper_slider .slides .nav {
    max-width: 120px;
    max-height: 60px;
    top: 80%;
  }
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides .nav label {
  display: block;
  transition: transform 0.5s;
  cursor: pointer;
}
.reviews .reviews_content .reviews_content_review .wrapper_slider .slides .nav label:hover {
  transform: scale(1.1);
}

#switch1:checked ~ .slide1 {
  margin-left: 0%;
}

#switch2:checked ~ .slide1 {
  margin-left: -33.333%;
}

#switch3:checked ~ .slide1 {
  margin-left: -66.666%;
}

#switch1:checked ~ .nav .left3,
#switch2:checked ~ .nav .left1,
#switch3:checked ~ .nav .left2 {
  width: 50%;
  height: 100%;
  background-color: #4a99d3;
  background-image: url("../img/button-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

#switch1:checked ~ .nav .right2,
#switch2:checked ~ .nav .right3,
#switch3:checked ~ .nav .right1 {
  width: 50%;
  height: 100%;
  background-color: #fff;
  background-image: url("../img/button-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.downloads {
  width: 100%;
  background: url("../img/bg1-lines-rotate.svg") no-repeat 0% 110%, url("../img/bg2-lines-rotate.svg") no-repeat 100% 110%;
}
.downloads .downloads_content {
  margin: 0 auto;
  padding: 120px 0;
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 767px) {
  .downloads .downloads_content {
    padding: 70px 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.downloads .downloads_content .downloads_image {
  margin: 0 35px;
  width: 50%;
}
.downloads .downloads_content .downloads_image img {
  width: 100%;
}
@media (max-width: 767px) {
  .downloads .downloads_content .downloads_image {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .downloads .downloads_content .downloads_image {
    width: 50%;
  }
}
.downloads .downloads_content .downloads_text {
  width: 50%;
  margin: 0 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0f001a;
}
@media (max-width: 767px) {
  .downloads .downloads_content .downloads_text {
    width: 90%;
  }
}
.downloads .downloads_content .downloads_text h3 {
  font-weight: 700;
  font-size: 25px;
}
.downloads .downloads_content .downloads_text p {
  font-size: 16px;
  line-height: 24px;
}
.downloads .downloads_content .downloads_text .buttons {
  display: flex;
}
.downloads .downloads_content .downloads_text .buttons a {
  margin: 60px 15px;
  max-width: 180px;
  text-decoration: none;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .downloads .downloads_content .downloads_text .buttons a {
    margin: 30pz 10px;
  }
}
@media (max-width: 420px) {
  .downloads .downloads_content .downloads_text .buttons a {
    margin: 10px;
  }
}
.downloads .downloads_content .downloads_text .buttons a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.downloads .downloads_content .downloads_text .buttons a img {
  width: 100%;
}

/** @format */
.footer {
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #fff;
  background-color: #4a99d3;
}
.footer .footer_content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 767px) {
  .footer .footer_content {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}
.footer .footer_content .footer_logo {
  padding: 5px;
  font-weight: 700;
  font-size: 34px;
}
.footer .footer_content .footer_links {
  padding: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footer_content .footer_links h4 {
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  margin: 0;
}
.footer .footer_content .footer_links h4::after {
  content: "";
  display: block;
  margin: 4px 0 20px 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.footer .footer_content .footer_links .footer_links_wrap {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .footer .footer_content .footer_links .footer_links_wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.footer .footer_content .footer_links .footer_links_wrap a {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin: 10px 5px;
  text-decoration: none;
  transition: all 0.5s;
}
.footer .footer_content .footer_links .footer_links_wrap a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.footer .footer_content .footer_subscribe {
  max-width: 400px;
  padding: 5px;
}
.footer .footer_content .footer_subscribe p {
  display: block;
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 26px;
  max-width: 90%;
}
.footer .footer_content .footer_subscribe form {
  width: 100%;
}
.footer .footer_content .footer_subscribe form input {
  margin: 5px;
  width: 60%;
  height: 50px;
  border: none;
  background-clip: padding-box;
  font-family: inherit;
  background: #ffffff;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
}
.footer .footer_content .footer_subscribe form button {
  margin: 5px;
  width: 30%;
  height: 50px;
  background: #ffffff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #4a99d3;
  border: none;
  background-clip: padding-box;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
}
.footer .footer_content .footer_subscribe form button:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

footer {
  width: 100%;
  background-color: #4a99d3;
  color: #fff;
}
footer .footer_wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_wrapper .copyright {
  font-weight: 700;
  font-size: 10px;
}
footer .footer_wrapper a {
  display: inline-block;
  widows: 20px;
  height: 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.5s;
}
footer .footer_wrapper a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

*,
*:after,
*:before {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Objective";
  margin: 0;
  border-color: #fff;
}

.wrapper {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=style.css.map */