/** @format */
@import '../css/fonts.scss';
@import '../css/variables.scss';
@import '../css/mixins.scss';
@import '../css/variables.scss';
@import '../css/header.scss';
@import '../css/help.scss';
@import '../css/downloads.scss';
@import '../css/works.scss';
@import '../css/reviews.scss';
@import '../css/footer.scss';

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Objective';
  margin: 0;
  border-color: #fff;
}
.wrapper {
  margin: 0;
  padding: 0;
}
