
@font-face {
    font-family: 'Objective';
    src: url('../fonts/Objective-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Objective';
    src: url('../fonts/Objective-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Objective';
    src: url('../fonts/Objective-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }