@mixin link {
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
      text-decoration: underline;
    }
  }
@mixin responsive-img{
  @include for-size(phone) {
    width: 70%;
  }
  @include for-size(tablet-portrait) {
    width: 50%;
  }
}
@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 480px) { @content; }
  } @else if $size == tablet-portrait {
    @media (max-width: 767px) { @content; }
  } @else if $size == tablet-landscape {
    @media (max-width: 991px) { @content; }
  } 
} 

  